body {
  background-image: url('./background.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.App {
  text-align: center;
  margin-top: 5%;
}

input {
  width: 200px;
}

button {
  width: 100px;
  color: #fff;
  background-color: #82c8a0;
}

input,
button {
  font-size: 30px;
}

p {
  font-size: 100px;
  text-align: center;
  color: #fff;
}